html {
  font-size: 14px;
}
div{
  font-size: 1.4em;
}
/*
  현재 .html 고려시 div태그가 3개가 있으며 가장 안쪽의 div는
  폰트크기는 14*(1.4)^3 이 적용됨을 볼수 있음
  즉 div가많아지면 크기 통제가힘듬
*/
div div{
  font-size: 2rem;
}
/*
  이상의 코드를 확인시 첫번째 div 요소의 자손 요소인 div들은 html 문서의 폰트 사이즈인 14px의 140%의 2배가 일괄적으로 적용됨을 확인이 가능. rem 단위는 가장 상위 부모 요소를 기준으로 하게되는데, 여기서는 조건이 더 구체적인 div div가 적용되었기 때문 
*/